.container {
    width: 100%;
    background-color: var(--materials-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 65%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.title {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 200;
}

.textDraft {
    color: var(--primary-brown);
}

.subTitle {
    font-size: 1.25rem;
    text-align: center;
    color: var(--text-color);
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    background-color: var(--third-background-color);
    width: 30%;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cardIcon {
    font-size: 46px;
    color: var(--primary-brown);
}

.cardTitle {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1rem;
}

.cardDescription {
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .content {
        margin-top: 4rem;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 80%;
    }

    .cardsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .card {
        background-color: var(--third-background-color);
        width: 80%;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

}